extends layout

block styles

block toplevel
    #artModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='artModalTitle' aria-hidden='true')
        .modal-dialog.modal-lg.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#artModalTitle.modal-title Crying River
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.p-0
                    .container-fluid.pt-0
                        .row
                            .col
                                img#artModalImage.rounded(src="#" alt="" style="width:420px;height:420px")
                            .col.pt-3
                                h2.display-5 Crying River
                                hr
                                p#artModalDescription 
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                p#artModalUploadDate.text-muted.small.pt-3
                                    i Uploaded at 31.03.2019
                                p#artModalAuthor
                                    i By John Cena
                .modal-footer.d-block
                    .input-group.px-5
                        p#artModalAverageDonation Average Transaction: 5.127 Ether
                    .input-group.mb-3.px-5.mx-auto.w-75
                        label(for="donationSlider") Transaction Amount: #[b 5 Ether]
                        input#donationSlider(type="range" class="custom-range" min="0.01" max="0.5" step="0.005")
                    button#sendDonation.btn.btn-success(type='button') Send Transaction
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel

block content
    div#particles-js.particles-js-background
    div.body-push
    div#metamask.row.content-block.justify-content-center
        div.col.mb-auto.mt-auto
            div.spinner.ml-auto.mr-auto.mt-5.mb-5
                div.double-bounce1
                div.double-bounce2
            div#failure.mt-5.mb-5.text-center(style="display:none;")
                img(src="/images/failure.svg", alt="Failure")
            div#accessStatusText.text-light.text-center.kreon
                h4 Requesting Access...
    div.content-block.purple.text-white
        div.text-center
            h4.pt-4.pb-4.shadow-sm.fredoka.display-4 Featured
            div#featured.owl-carousel.owl-theme.mt-5.pb-5.pl-5.pr-5
                each item in imagedb
                    div.slide-img
                        a#modalTest(data-toggle="modal" data-target="#artModal", data-artwork=item)
                            img.rounded-lg.shadow-lg(src=item.file, alt="")
                            span.pt-1(style="position:absolute;width:100%;height:64px;left:0px;bottom:0px;background-color: rgba(20,20,20,0.5)") #{item.name}
                                br
                                .mt-1
                                | From
                                i &nbsp;#{item.author}
    div.row.content-block.green.text-white
        div.col.text-center
            h4.pt-4.pb-4.shadow-sm.fredoka.display-4 New Uploads
            div#mostDonated.owl-carousel.owl-theme.mt-5.pb-5.pl-5.pr-5
                each item in imagedb
                    div.slide-img
                        a#modalTest(data-toggle="modal" data-target="#artModal", data-artwork=item)
                            img.rounded-lg.shadow-lg(src=item.file, alt="")
                            span.pt-1(style="position:absolute;width:100%;height:64px;left:0px;bottom:0px;background-color: rgba(20,20,20,0.5)") #{item.name}
                                br
                                .mt-1
                                | From
                                i &nbsp;#{item.author}          
    div.row.content-block.blue.text-white
        div.col.text-center
            h4.pt-4.pb-4.shadow-sm.fredoka.display-4 Top Sellers
            div#newUploads.owl-carousel.owl-theme.mt-5.pb-5.pl-5.pr-5
                each item in imagedb
                    div.slide-img
                        a#modalTest(data-toggle="modal" data-target="#artModal", data-artwork=item)
                            img.rounded-lg.shadow-lg(src=item.file, alt="")
                            span.pt-1(style="position:absolute;width:100%;height:64px;left:0px;bottom:0px;background-color: rgba(20,20,20,0.5)") #{item.name}
                                br
                                .mt-1
                                | From
                                i &nbsp;#{item.author}
                

block scripts
    script(src="./scripts/gallery.js")